In [1]:
# importing essential libraries
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing dataset using pandas
train_data= pd.read_csv("C:/Users/satya naidu/Desktop/Leaf Classification/train/train.csv")
test_data = pd.read_csv(r"C:/Users/satya naidu/Desktop/Leaf Classification/test/test.csv")
results= pd.DataFrame.copy(test_data)
test_data=test_data.drop(["id"],axis=1)

In [3]:
#checking shape and first few observations
train_data.shape

(990, 194)

In [353]:
train_data.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [349]:
# just a glimpse of data
train_data.info()
train_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Columns: 193 entries, species to texture64
dtypes: float64(192), object(1)
memory usage: 1.5+ MB

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
count,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,...,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000,990.000000
mean,0.017412,0.028539,0.031988,0.023280,0.014264,0.038579,0.019202,0.001083,0.007167,0.018639,...,0.036501,0.005024,0.015944,0.011586,0.016108,0.014017,0.002688,0.020291,0.008989,0.019420
std,0.019739,0.038855,0.025847,0.028411,0.018390,0.052030,0.017511,0.002743,0.008933,0.016071,...,0.063403,0.019321,0.023214,0.025040,0.015335,0.060151,0.011415,0.039040,0.013791,0.022768
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.001953,0.001953,0.013672,0.005859,0.001953,0.000000,0.005859,0.000000,0.001953,0.005859,...,0.000000,0.000000,0.000977,0.000000,0.004883,0.000000,0.000000,0.000000,0.000000,0.000977
50%,0.009766,0.011719,0.025391,0.013672,0.007812,0.015625,0.015625,0.000000,0.005859,0.015625,...,0.004883,0.000000,0.005859,0.000977,0.012695,0.000000,0.000000,0.003906,0.002930,0.011719
75%,0.025391,0.041016,0.044922,0.029297,0.017578,0.056153,0.029297,0.000000,0.007812,0.027344,...,0.043701,0.000000,0.022217,0.009766,0.021484,0.000000,0.000000,0.023438,0.012695,0.029297
max,0.087891,0.205080,0.156250,0.169920,0.111330,0.310550,0.091797,0.031250,0.076172,0.097656,...,0.429690,0.202150,0.172850,0.200200,0.106450,0.578130,0.151370,0.375980,0.086914,0.141600

In [368]:
# checking data balance and unique values
train_data.isnull().sum()

species      0
margin1      0
margin2      0
margin3      0
margin4      0
margin5      0
margin6      0
margin7      0
margin8      0
margin9      0
margin10     0
margin11     0
margin12     0
margin13     0
margin14     0
margin15     0
margin16     0
margin17     0
margin18     0
margin19     0
margin20     0
margin21     0
margin22     0
margin23     0
margin24     0
margin25     0
margin26     0
margin27     0
margin28     0
margin29     0
            ..
texture35    0
texture36    0
texture37    0
texture38    0
texture39    0
texture40    0
texture41    0
texture42    0
texture43    0
texture44    0
texture45    0
texture46    0
texture47    0
texture48    0
texture49    0
texture50    0
texture51    0
texture52    0
texture53    0
texture54    0
texture55    0
texture56    0
texture57    0
texture58    0
texture59    0
texture60    0
texture61    0
texture62    0
texture63    0
texture64    0
Length: 193, dtype: int64

In [354]:
train_data['species'].unique()
train_data.groupby(['species']).size()

species
Acer_Capillipes                 10
Acer_Circinatum                 10
Acer_Mono                       10
Acer_Opalus                     10
Acer_Palmatum                   10
Acer_Pictum                     10
Acer_Platanoids                 10
Acer_Rubrum                     10
Acer_Rufinerve                  10
Acer_Saccharinum                10
Alnus_Cordata                   10
Alnus_Maximowiczii              10
Alnus_Rubra                     10
Alnus_Sieboldiana               10
Alnus_Viridis                   10
Arundinaria_Simonii             10
Betula_Austrosinensis           10
Betula_Pendula                  10
Callicarpa_Bodinieri            10
Castanea_Sativa                 10
Celtis_Koraiensis               10
Cercis_Siliquastrum             10
Cornus_Chinensis                10
Cornus_Controversa              10
Cornus_Macrophylla              10
Cotinus_Coggygria               10
Crataegus_Monogyna              10
Cytisus_Battandieri             10
Eucalyptus_Glaucescens          10
Eucalyptus_Neglecta             10
                                ..
Quercus_Kewensis                10
Quercus_Nigra                   10
Quercus_Palustris               10
Quercus_Phellos                 10
Quercus_Phillyraeoides          10
Quercus_Pontica                 10
Quercus_Pubescens               10
Quercus_Pyrenaica               10
Quercus_Rhysophylla             10
Quercus_Rubra                   10
Quercus_Semecarpifolia          10
Quercus_Shumardii               10
Quercus_Suber                   10
Quercus_Texana                  10
Quercus_Trojana                 10
Quercus_Variabilis              10
Quercus_Vulcanica               10
Quercus_x_Hispanica             10
Quercus_x_Turneri               10
Rhododendron_x_Russellianum     10
Salix_Fragilis                  10
Salix_Intergra                  10
Sorbus_Aria                     10
Tilia_Oliveri                   10
Tilia_Platyphyllos              10
Tilia_Tomentosa                 10
Ulmus_Bergmanniana              10
Viburnum_Tinus                  10
Viburnum_x_Rhytidophylloides    10
Zelkova_Serrata                 10
Length: 99, dtype: int64

In [4]:
# removing unwanted coulmn
train_data=train_data.drop(['id'],axis=1)

In [6]:
#checking columns which are completely null because of computational expenses
columns_sum=train_data.loc[:,train_data.columns!='species'].sum()
check_func=lambda x: x>0
check_bool= check_func(columns_sum)
[null_columns for null_columns, x in enumerate(check_bool) if not x]

[]

In [7]:
#preparing data and splitting for model purpose
X_train_data=train_data.iloc[:,train_data.columns!='species']
y_train_data= train_data.loc[:,'species']
from sklearn.preprocessing import LabelEncoder
sc_y=LabelEncoder()
y_train_data=sc_y.fit_transform(y_train_data)

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_train_data,y_train_data,test_size=0.25,random_state=0)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
test_data=sc.transform(test_data)

In [360]:
# using features without dimensionality reduction technique
# preparing linear SVM 
from sklearn.svm import SVC
svc_classifier = SVC(kernel = 'linear', random_state = 0,C=1)
accuracy=cross_val_score(svc_classifier,X_train,y_train,cv=KFold(n_splits=10,random_state=6),scoring="accuracy")
accuracy.mean()

0.98517117117117137

In [9]:
# using PCA as dimensionality reduction because of numerical data
from sklearn.decomposition import PCA
pca= PCA(n_components=10)
X_train=pca.fit_transform(X_train)
X_test=pca.transform(X_test)
test_data=pca.transform(test_data)
explained_variance=pca.explained_variance_ratio_
explained_variance

array([ 0.24477109,  0.10449513,  0.06173856,  0.05571022,  0.04288401,
        0.0345488 ,  0.03208416,  0.02799658,  0.0246141 ,  0.01976853])

In [10]:
# preparing Kernel SVM
from sklearn.svm import SVC
K_svc = SVC(kernel = 'rbf', random_state = 0,C=10,gamma=0.1)

In [11]:
# preparing linear SVM 
from sklearn.svm import SVC
L_svc = SVC(kernel = 'linear', random_state = 0,C=1,gamma=0.1)

In [12]:
#preparing ensemble
from sklearn.ensemble import RandomForestClassifier
rfClassifier=RandomForestClassifier(n_estimators = 10, random_state = 0)

In [13]:
# preparing Decision tree
from sklearn.tree import DecisionTreeClassifier
DT= DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

In [14]:
# finding best model using cross validation
from sklearn.model_selection import cross_val_score,cross_val_predict,KFold
mean=[]
std=[]
lists=['Linear SVC','Random Forest','Decision Trees','Kernel SVC']
estimators=[L_svc,rfClassifier,DT,K_svc]
for model in estimators:
    accuracy=cross_val_score(model,X_train,y_train,cv=KFold(n_splits=10,random_state=6),scoring="accuracy")
    mean.append(accuracy.mean())
    std.append(accuracy.std())
model_values = pd.DataFrame({"mean":mean,'std':std},index=lists)

In [15]:
model_values

                    mean       std
Linear SVC      0.940721  0.030276
Random Forest   0.866613  0.036280
Decision Trees  0.672486  0.055815
Kernel SVC      0.865315  0.052401

In [16]:
L_svc.fit(X_train, y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=0.1, kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [17]:
from sklearn.model_selection import GridSearchCV,KFold
parameters = [{'C': [1, 10,20], 'kernel': ['linear'],'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = L_svc,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = KFold(n_splits=10,random_state=6),
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

In [18]:
best_accuracy

0.94070080862533689

In [19]:
best_parameters

{'C': 1, 'gamma': 0.1, 'kernel': 'linear'}

In [20]:
y_pred=L_svc.predict(test_data)

In [21]:
results['spices_id']=y_pred

In [22]:
results['spices_id'].unique()

array([51, 50,  1, 19, 14,  3, 29, 84,  8, 43, 74, 75, 10, 52, 46, 45, 73,
       13, 71, 61, 68, 57, 77, 70, 28, 15, 35, 53, 47,  4, 36, 55, 93, 32,
        9, 38, 23, 94, 18, 17,  5, 86, 62, 33, 98, 88, 56, 21, 59, 65, 11,
       48, 54,  7, 31, 92, 25, 85, 24,  2, 83, 40, 22, 90, 37, 41, 95, 89,
       12, 96, 64, 72, 67, 30, 60, 87,  6, 34, 27, 44, 39, 97, 81, 42, 20,
       79, 58, 49, 91, 80, 78,  0, 76, 82, 26, 63, 69, 16, 66], dtype=int64)

In [23]:
results.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,spices_id
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,51
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,50
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,1
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,19
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,14

In [24]:
results.to_csv("C:/Users/satya naidu/Desktop/Leaf Classification/model_results_submission.csv",index=None)